#root {
  height: 100%;
}

.site-container {
  height: 100%;

  // __________________________Site Header start
  .site-header {
    background-color: #fff;
    position: fixed;
    z-index: 500;
    width: 100%;
    display: flex;
    padding: 0;

    .header__logo {
      text-align: center;
      padding: 0 20px;
      display: flex;
      align-items: center;
    }

    .header__navigation {
      justify-content: center;
      flex-grow: 1;

      .header__navigation__item:first-child {
        margin-left: -100px;
      }
    }

    .header__user-profile {
      text-align: center;
      padding: 0 20px;
      display: flex;
      align-items: center;
      .user-profile-search{
        display: block;
        background: rgba(186, 200, 220, 0.2);
        border-radius: 10px;
        outline: none;
        border: none;
      }
      .user-profile-image{
        transform: translate(10px,-5px)
      }

    }
  }

  // __________________________Site Header end

  // __________________________Site Layout start
  .site-layout {
    background-color: #EAEDF2;

    .site-layout__content {
      //border: 2px solid red;
      margin: 30px 0;
      background-color: #fff;
      border-radius: 11px;
      display: flex;
      justify-content: space-around;

      .site-layout__body {
        //border: 2px solid red;

        .site-layout__body-items {
          //border: 2px solid green;
          display: flex;
          flex-direction: column;
          gap: 10px 0;

          h2 {
            text-align: center;
            color: #4447E2;
          }

          & > div {
            background-color: #4447E2;
            align-items: center;
            display: flex;
            color: #fff;
            font-size: 1.2em;
            border-radius: 7px;
            padding: 10px 30px;
            cursor: pointer;

            svg {
              margin-right: 14px;
            }
          }

        }
      }
    }
  }

  // __________________________Site Layout end

  // __________________________Site Footer start
  .site-footer {
    background-color: #fff;
    padding: 0;

    .site-footer__tabs {
      display: flex;
      background-color: #4447E2;

      .site-footer__tab {
        background-color: #5154FF;
        //border: 1px solid red;
        padding: 3px 12px;
        display: flex;
        margin-right: 3px;
        align-items: center;
        color: #fff;

        svg {
          margin-right: 7px;
          width: 17px;
          height: 17px;
        }

        .close-icon-small {
          margin-left: 8px;
          margin-right: -3px;
          cursor: pointer;
          transition: .07s;
          height: 100%;
          width: 19px;
          padding: 0 2.8px;

          &:hover {
            path {
              fill: #f14a4a;
            }
          }
        }
      }
    }

    .site-footer__content {
      padding: 4px 40px;
      display: flex;
      justify-content: space-between;

      .site-footer__text {
        color: #9dbeef;
        font-size: 1.1em;
      }

      .site-footer-clock {
        font-size: 1.2em;
        color: #4447E2;
        font-weight: 600;
      }
    }
  }

  // __________________________Site Footer end
}
