#root {
  height: 100%;
}

.site-container {
  height: 100%;

  // __________________________Site Header start
  .site-header {
    background-color: #fff;
    position: fixed;
    z-index: 500;
    width: 100%;
    display: flex;
    padding: 0;

    .header__logo {
      text-align: center;
      padding: 0 20px;
      display: flex;
      align-items: center;
    }

    .header__navigation {
      justify-content: center;
      flex-grow: 1;

      .header__navigation__item:first-child {
        margin-left: -100px;
      }
    }

    .header__user-profile {
      text-align: center;
      padding: 0 20px;
      display: flex;
      align-items: center;
      .user-profile-search{
        display: block;
        background: rgba(186, 200, 220, 0.2);
        border-radius: 10px;
        outline: none;
        border: none;
      }
      .user-profile-image{
        transform: translate(10px,-5px)
      }

    }
  }

  // __________________________Site Header end

  // __________________________Site Layout start
  .site-layout {
    background-color: #EAEDF2;
  }

  // __________________________Site Layout end

  // __________________________Site Footer start
  .site-footer {
    background-color: #fff;
    padding: 0;

// border: 3px solid green;

    .site-footer__content {
      padding: 4px 40px;
      display: flex;
      justify-content: space-between;

      .site-footer__text {
        color: #9dbeef;
        font-size: 1.1em;
      }

      .site-footer-clock {
        font-size: 1.2em;
        color: #4447E2;
        font-weight: 600;
      }
    }
  }

  // __________________________Site Footer end
}
