.site-footer__tabs {
  display: flex;
  background: #4447e2;
  height: 30px;
  border: 1px solid red;

  .ant-tabs-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    font-size: 14px;
    background: transparent;
    border: 0;
    height: 30px;
    min-width: 100px;
    outline: none;
    cursor: pointer;
    .anticon-close {
      position: absolute;
      right: 5px;
      top: 9px;
    }
  }

  .ant-tabs-tab-remove {
    color: #ffffff;
    font-size: 10px;
  }
  .site-footer__tab {
    background: #5154ff !important;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      margin-left: 15px;
    }
    svg {
      width: 17px;
      height: 17px;
      fill: #ffffff;
      path {
        fill: #ffffff;
      }
    }
  }
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  background: #5154ff;
  border-radius: 5px;
  color: #ffffff;
}
