.site-footer__tabs {
    display: flex;
    background: #4447E2;
    height: 25px;
    border: 1px solid red;
    // border-radius: 5px;
    .ant-tabs-tab {
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 12px 0;
        font-size: 14px;
        background: transparent;
        border: 0;
        height: 25px;
        min-width: 100px;
        outline: none;
        cursor: pointer;
        .anticon-close{
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
    .ant-tabs-tab{
        background:red;
    }
    .site-footer__tab {
        background: #5154FF !important;
        border-radius: 5px;
    border: 1px solid yellow;

        // border: 1px solid yellow;
    //     display: block;
    //   padding: 3px 12px;
    //   margin-right: 3px;
    //   align-items: center;
    //   color: #fff;

    //   svg {
    //     margin-right: 7px;
    //     width: 17px;
    //     height: 17px;
    //   }

    //   .close-icon-small {
    //     margin-left: 8px;
    //     margin-right: -3px;
    //     cursor: pointer;
    //     transition: .07s;
    //     height: 100%;
    //     width: 19px;
    //     padding: 0 2.8px;

    //     &:hover {
    //       path {
    //         fill: #f14a4a;
    //       }
    //     }
    //   }
    }
  }