.ant-modal-mask {
  // top:100px !important;
  bottom: 100px !important;
  height: 90.7% !important;
  // background: rgba(234, 237, 242, 1);
}
.ant-modal-wrap {
  border: 2px solid red;
  // top: 100px !important;
  // bottom:100px !important;
  height: 90.7% !important;
}

.ant-modal-content {
  border-radius: 15px;
}

.ant-modal-body {
  padding: 0;
  padding-bottom: 1px;
}

.modal-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  background-color: #4447e2;
  height: 40px;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;

  .modal-header__buttons {
    height: 20px;
    width: 70px;
    display: flex;
    align-items: center;
    background-color: none;
    justify-content: flex-end;
    .modal-header__button {
      background-color: #4447e2;
      outline: none;
      border: none;
      height: 15px;
      width: 15px;
      padding: 0px;
      position: relative;
      margin-left: 5px;
      svg {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }
  }
}

.modal-form {
  align-items: center;
  justify-content: center;
  margin: 30px;

  .modal-grid__form {
    width: 100%;
    display: grid;
    grid-gap: 20px 20px;
    // grid-template-rows: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    .ant-input {
      background-color: #f1f4f8;
      // height: 40px;
      width: 100%;
      padding-left: 10px;
      font-weight: 400;
      border-radius: 7px;
      font-size: 12px;
      line-height: 20px;
      border: none;
    }
    .ant-input-number{
      background-color: #f1f4f8;
      // height: 40px;
      width: 100%;
      // padding-left: 10px;
      display: flex;
      align-items: center;
      font-weight: 400;
      border-radius: 7px;
      font-size: 12px;
      line-height: 20px;
      border: none;
      .ant-input-number-handler {
      background-color: #f1f4f8;
      }
    }
    .ant-select-single{
      background-color: #f1f4f8;
      height: 40px;
      width: 100%;
      font-weight: 400;
      border-radius: 7px;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      align-items: center;
    }
    .ant-select-selector{
      background-color: red;
      background-color: #f1f4f8;
      border:none;
      outline: none;
    }
  }

  // form bottoms (sqalash,qaytish)
  .modal-form_buttons{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 30px;
    .modal-form__button{
      width: 150px;
      border-radius:7px;
      height: 40px;
      font-weight: 400;
      font-size:13px;
      line-height: 20px;
    }
    .qaytish{
      border:1px solid #4447E2;
      color:#4447E2;
    }

    .saqlash{
      color:#ffffff;
      background-color:#4447E2;
    }
  }

}


// map

// .ymaps-2-1-79-map{
//   width: 300px !important;
//   border: 1px solid red;
// }

.ymaps-2-1-79-events-pane .ymaps-2-1-79-user-selection-none{
  border: 1px solid red !important;
}