.ant-modal-mask  {
    // top:100px !important;
    bottom:100px !important;
    height: 90.7% !important;
    // background: #E5E5E5;
  }
  .ant-modal-wrap {
    border: 2px solid red;
    // top: 100px !important;
    // bottom:100px !important;
    height: 90.7% !important;


  }
  