.ant-modal-mask {
  //bottom: 100px !important;
  //height: 90.7% !important;
  //border: 2px solid red;
  //z-index: 9999;
  background-color: transparent !important;
  margin: 290px;
  height: 0;
  width: 0;
  overflow: visible;
  padding: 0 !important;
}


.ant-modal-wrap {
  //border: 2px solid green;
  width: 100%;
  height: 0;
  overflow: visible;
  padding: 0 !important;
}

.ant-modal {

  display: flex !important;
  justify-content: center;
  //border: 2px solid blue;
}

.ant-modal-title {
  background-color: #4447E2;
}

.ant-modal-content {
  //border: 2px solid red;
  //position: absolute !important;
  border-radius: 15px;
  margin: 0 !important;
}

.ant-modal-body {
  padding: 0;
  padding-bottom: 1px;
  margin: auto 0;
}

.ant-modal-header {
  //border: 1px solid red;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0 !important;
  overflow: hidden;

  .modal-header {
    //border-top-left-radius: 15px;
    //border-top-right-radius: 15px;
    width: 100%;
    background-color: #4447e2;
    height: 40px;
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;

    .modal-header__buttons {
      height: 20px;
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .modal-header__button {
        background-color: #4447e2;
        outline: none;
        border: none;
        height: 15px;
        width: 15px;
        padding: 0;
        position: relative;
        margin-left: 5px;

        svg {
          margin: 0;
          padding: 0;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

.modal-form {
  align-items: center;
  justify-content: center;
  margin: 30px;

  .modal-grid__form {
    width: 100%;
    display: grid;
    grid-gap: 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    .ant-input {
      background-color: #f1f4f8;
      width: 100%;
      height: 40px;
      padding-left: 10px;
      font-weight: 400;
      border-radius: 7px;
      font-size: 12px;
      line-height: 20px;
      border: none;
      outline: none;
    }

    // label uchun start

    .ant-input-group {
      //border: 1px solid green;
      display: flex !important;
      flex-direction: column;

      .ant-input-group-addon {
        background-color: transparent !important;
        border: none;
        //border: 1px solid #ccc;
        width: 100%;
        font-size: .98em;
        text-align: left;
        margin-bottom: 2px;
        padding-left: 0;
      }
    }

    .modal-inputs__label {
      font-size: .98em;
      //border: 1px solid red;
      height: 100% !important;
      //width: auto !important;
    }

    // label uchun end
    .avatar-uploader {
      background-color: #f1f4f8;
      width: 100% !important;
      font-weight: 400;
      border-radius: 7px;
      font-size: 12px;
      line-height: 20px;
      border: none;
      outline: none;
    }

    .file-uploader-label {
      padding: 10px 0 0 0;
      cursor: pointer;
      background-color: #f1f4f8;
      width: 100% !important;
      font-weight: 400;
      border-radius: 7px;
      font-size: 12px;
      line-height: 20px;
      border: none;
      outline: none;
      overflow: hidden;

      .file-uploader__icon {
        width: 20px;
        height: 20px;
        border: 2px solid green;
      }
    }

    #file-uploder {
      display: none;
    }


    .ant-input-number {
      background-color: #f1f4f8;
      width: 100%;
      display: flex;
      align-items: center;
      font-weight: 400;
      border-radius: 7px;
      font-size: 12px;
      line-height: 20px;
      border: none;

      .ant-input-number-handler {
        background-color: #f1f4f8;
      }
    }

    .ant-select-single {
      background-color: #f1f4f8;
      height: 40px;
      width: 100%;
      font-weight: 400;
      border-radius: 7px;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      align-items: center;
    }

    .ant-select-selector {
      //background-color: red;
      background-color: #f1f4f8;
      border: none;
      outline: none;
    }

    .ant-picker {
      background-color: #f1f4f8;
      width: 100%;
      padding-left: 10px;
      font-weight: 400;
      border-radius: 7px;
      font-size: 12px;
      line-height: 20px;
      border: none;
    }

    .react-tel-input {
      background-color: #f1f4f8;
      width: 100%;
      font-weight: 400;
      border-radius: 7px;
      font-size: 12px;
      line-height: 20px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .form-control {
        width: 100%;
        background-color: #f1f4f8;
        border: none;
        outline: none;
        padding-left: 10px;
      }
    }
  }

  .modal-form_buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;

    .modal-form__button {
      width: 150px;
      border-radius: 7px;
      height: 40px;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
    }

    .qaytish {
      border: 1px solid #4447e2;
      color: #4447e2;
    }

    .saqlash {
      color: #ffffff;
      background-color: #4447e2;
    }
  }
}

// map

.ymaps-2-1-79-events-pane .ymaps-2-1-79-user-selection-none {
  border: 1px solid red !important;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.file-uploader-label {
  .ant-upload-select-text {
    display: block;
  }
}


.modal_input{
  width: 95% !important;
  display: block !important;
  margin: 0 auto !important;
}
.modal__form{
  width: 95% !important;
  margin: 0 auto;
  margin-top: 20px;
}
.phone_input{
  input{
    width: 95%;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s;
    &:hover{
      border: 1px solid #40a9ff;;
    }
    &:focus{
      outline: 1px solid #40a9ff;;
    }
  }
}