:root {
  --main-color: #4447e2;
  --second-color: #1890FF;
}

.site-layout__body {
  overflow: scroll;
}
.ant-table-tbody{
  .undefined {
    background-color: rgb(236, 151, 119) !important;
    padding: 0 3px;
  }
}